@tailwind base;
@tailwind components;
@tailwind utilities;



.text-gradient {
    background: linear-gradient(to right, #14ffcf, #fb4747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}